.idea
.vscode
*.iml

.mvn
attachment
target
*.log

dist
node_modules
.env

application-*.yml

/deploy/**
!/deploy/frontend/conf/nginx.conf
!/deploy/backend/init_user.sql
!/deploy/ocr-server/Dockerfile
!/deploy/build.bat
!/deploy/docker-compose.yml