{
    email {$CA_EMAIL}
}
{$DOMAIN} {
    encode
    request_body {
        max_size 50MB
    }
	handle /api/* {
		reverse_proxy {$BACKEND_URL}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}