name: Build

on:
  push:
    branches: [ main, develop ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 25
      uses: actions/setup-java@v4
      with:
        java-version: '25'
        distribution: 'temurin'
        settings-path: ${{ github.workspace }}

    - name: Set up Node.js
      uses: actions/setup-node@v6.2.0
      with:
        node-version: '24.13.0'

    - name: Build with script
      run: cd $GITHUB_WORKSPACE & sh ./deploy/build.bat

    
